* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    z-index: 1000; /* Ensure header stays on top of other content */
}

h1 {
    margin: 0;
    font-size: 24px;
}
.home{
    text-align: center;

}
button {
    background-color: #4CAF50;
    display: inline-block;
    align-items: center;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    border-radius: 50px;
   
    transition: background-color 0.3s;
}

button:hover {
    background-color: #45a049;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #000000;
    padding-top: 80px; /* Add padding to top of body to make space for the header */
    min-height: 100vh;
}

.container {
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 20px;
    padding-top: 20px; /* Add padding to top of container to separate it from the header */
}

.card {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255, 0, 0, 0.1);
    transition: 0.3s;
}

.card img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 10px;
    transition: transform 0.3s;
}

.card:hover img {
    transform: scale(1.1);
}

.card .overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    transition: 0.3s;
    transform: translateY(100%);
}

.card:hover .overlay {
    transform: translateY(0%);
}

.card h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.card pre {
    font-size: 16px;
    line-height: 1.5;
}

.modal {
    display: none;
    position: fixed;
    z-index: 999;
    padding-top: 50px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(90, 90, 90, 0.8);
}

.modal-content {
    margin: auto;
    display: block;
    max-width: 90%; /* Adjust max-width to your preference */
    max-height: 90vh; /* Adjust max-height to your preference */
}

.modal-navigation {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
}

.modal-navigation .prev,
.modal-navigation .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 30px;
    color: white;
    user-select: none;
}

.modal-navigation .prev {
    left: 20px;
}

.modal-navigation .next {
    right: 20px;
}
